<%- include('header'); -%>	
	<!--main-->
	<main class="main">		
		<div class="wrap">
			<!--main content-->
			<div class="content">
				<section class="error">
					<!--Error type-->
					<div class="error-type">
						<h1>404</h1>
						<p>Page not found</p>
					</div>
					<!--//Error type-->
					
					<!--Error content-->
					<% if(typeof alert !='undefined' || alert!=null) { %>
					<div class="error-content">
						<h5> <%= alert %> </h5>
						<h3>Don’t worry. Reload the site and try again.</h3>
					</div>
					<% } %>
					<!--//Error content-->
				</section>
			</div>
			<!--//main content-->
		</div>
	</main>
	<!--//main-->
	
<%- include('footer'); -%>
