<!--footer-->
<footer id="contact" class="footer">
	<div class="wrap">
		<div class="row">

			<article class="col-lg-3">
				<h6>Contact information</h6>
				<p>2 McLeod Road London SE2 0BS</p>
				<p><em>Customer support:</em> 02076840868</p>
				<p><em>Email :</em> <a href="#" title="booking@mail.com">booking@mail.com</a></p>
			</article>


			<article class="col-lg-3">
				<h6>Customer support</h6>
				<ul>
					<li><a href="#" title="Faq">Faq</a></li>
					<li><a href="#" title="How do I make a reservation?">How do I make a
							reservation?</a></li>
					<li><a href="#" title="Payment options">Payment options</a></li>
					<li><a href="#" title="Booking tips">Booking tips</a></li>
				</ul>
			</article>

			<article class="col-lg-3">
				<h6>Follow us</h6>
				<ul class="social">
					<li><a href="#" title="facebook"><i class="fa fa-fw fa-facebook"></i></a></li>
					<!-- <li><a href="#" title="youtube"><i class="fa  fa-fw fa-youtube"></i></a></li>
										<li><a href="#" title="rss"><i class="fa  fa-fw fa-rss"></i></a></li>
										<li><a href="#" title="gplus"><i class="fa fa-fw fa-google-plus"></i></a></li> -->
					<li><a href="#" title="linkedin"><i class="fa fa-fw fa-linkedin"></i></a></li>
					<li><a href="#" title="twitter"><i class="fa fa-fw fa-twitter"></i></a></li>
					<li><a href="#" title="pinterest"><i class="fa fa-fw fa-pinterest-p"></i></a>
					</li>
					<li><a href="#" title="vimeo"><i class="fa fa-fw fa-vimeo"></i></a></li>
				</ul>
			</article>

			<article class="col-lg-3">
				<h6>Subscribe to our exclusive offers</h6>
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text"><i class="fa fa-mailbox"></i></span>
					</div>
					<input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
				</div>
			</article>

		</div>
	</div>
</footer>
<!---footer-->

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
	integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
	</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
	</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
	integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
	</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script type="text/javascript" src="/js/jquery.uniform.min.js"></script>
<script type="text/javascript" src="/js/jquery.slimmenu.min.js"></script>
<script type="text/javascript" src="/js/lightslider.min.js"></script>
<script type="text/javascript" src="/js/scripts.js"></script>

<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
						integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
						crossorigin="anonymous">
						</script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
						integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
						crossorigin="anonymous">
						</script> -->

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.compat.min.js">
</script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
	integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous">
	</script>

<!-- <script type="text/javascript"
						src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
<script type="text/javascript">

	//JS code for carroussel Hotel
	$(document).ready(function () {
		$(".wish-icon i").click(function () {
			$(this).toggleClass("fa-heart fa-heart-o");
		});
		
	});




	(function ($) {
		$(document).ready(function () {
			$('.form').hide();
			$('#form3').show();
			$('.f-item:nth-child(3)').addClass('active');
			$('.f-item:nth-child(3) span').addClass('checked');

			$('#hero-gallery').lightSlider({
				gallery: true,
				item: 1,
				pager: false,
				gallery: false,
				slideMargin: 0,
				speed: 2000,
				pause: 6000,
				mode: 'fade',
				auto: true,
				loop: true,
				onSliderLoad: function () {
					$('#hero-gallery').removeClass('cS-hidden');
				}
			});

			//$('#sourceFlight').on('keyup', _.debounce(showResultsSource(this.id, this.value, 'sourceList', 'resultSourceFlightDiv', 'sourceFlightCode'), 2000, false));
			//$('#sourceFlight').on('keyup', (evt) => _.debounce(showResultsSource(this.id, this.value, "sourceList", "resultSourceFlightDiv", "sourceFlightCode"), 5000));
			//$('#sourceFlight').on('keyup', )
			/*$('#sourceFlight').keyup((evt) => debounce(() => {
				alert('we are debouncing')
			}, 5000))*/

			//let myTimer;
			processSourceFlight = debounce(showResultsSource, 2000);
			$('#sourceFlight').on('keyup', (evt) => {
				processSourceFlight(evt.target.id, evt.target.value, 'sourceList',
					'resultSourceFlightDiv', 'sourceFlightCode');
				/*clearTimeout(myTimer);
				myTimer = setTimeout(() => {
					showResultsSource(evt.target.id, evt.target.value, 'sourceList', 'resultSourceFlightDiv', 'sourceFlightCode')
					//alert('we are debouncing ' + evt.target.value + ' '+ evt.target.id);
				}, 4000);*/
			})

			//let mytimer1;
			processDestinationFlight = debounce(showResultsSource, 2000);
			$('#destinationFlight').on('keyup', (evt) => {
				processDestinationFlight(evt.target.id, evt.target.value, 'destinationList',
					'resultDestinationFlightDiv', 'destinationFlightCode');
				/*clearTimeout(myTimer);
				myTimer = setTimeout(() => {
					showResultsSource(evt.target.id, evt.target.value, 'sourceList', 'resultSourceFlightDiv', 'sourceFlightCode')
					//alert('we are debouncing ' + evt.target.value + ' '+ evt.target.id);
				}, 4000);*/
			})

			processDestinationHotel = debounce(showResultsCity, 2000);
			$('#destinationHotel').on('keyup', (evt) => {
				processDestinationHotel(evt.target.id, evt.target.value, 'destinationList',
					'resultDestinationHotelDiv', 'destinationHotelCode');
				/*clearTimeout(myTimer);
				myTimer = setTimeout(() => {
					showResultsSource(evt.target.id, evt.target.value, 'sourceList', 'resultSourceFlightDiv', 'sourceFlightCode')
					//alert('we are debouncing ' + evt.target.value + ' '+ evt.target.id);
				}, 4000);*/
			})
		});

	})(jQuery);

	function debounce(func, wait) {
		let timer;
		return (...args) => {
			clearTimeout(timer);
			timer = setTimeout(() => func.apply(this, args), wait);
		}
	}

	// 
	// function showResultsSource(eltId, val, listId, divId, hiddenFieldId) {
	// 	alert('debounced');
	// }

	function showResultsSource(eltId, val, listId, divId, hiddenFieldId) {
		///////////////////////////
		//alert('show result debounce');
		//return;
		////////////////////
		res = document.getElementById(`${divId}`);
		res.innerHTML = '';

		if (val == '') {
			return;
		}
		let list = '';
		fetch('/Moqflight/getAirportSuggestion?keyword=' + val).then(function (response) {
			return response.json();
		}).then(function (data) {
			//res.innerHTML = `<div class = "centered"><div class = "blob-1"></div><div class = "blob-2"></div></div>`;
			for (i = 0; i < data.length; i++) {
				if (typeof data[i].detailedName != 'undefined')
					list += '<tr> <td style="cursor: pointer; color: #3D71E9; font-weight: 600px; background-color: #f7f7f; border-width: 2px;"' + 'data-value=' + data[i].iataCode + '>' + data[i].detailedName + "--" +
						data[i].subType + '</td> </tr>';
			}
			//res.innerHTML = `<ul id=sourceFlightList>` + list + '</ul>';
			res.innerHTML = `<table class="table table-hover" style="width:100%; border-width: 3px;" id=${listId} >` + list + '</table>';
			// $("ul[id*=sourceFlightList] li").click(function () {
			$(`table[id*=${listId}] tr td`).click(function () {
				// document.getElementById("sourceFlightCode").value = "";
				document.getElementById(`${hiddenFieldId}`).value = "";
				document.getElementById(`${hiddenFieldId}`).value = $(this).data('value');
				//alert($(this).attr('data-value').val());
				document.getElementById(`${eltId}`).value = "";
				document.getElementById(`${eltId}`).value = $(this).text();
				$(`#${divId}`).empty();
				return;
			});
			$('.alert').show();
			return true;
		}).catch(function (err) {
			console.warn('Something went wrong.', err);
			alert('Something went wrong.', err);
			return false;
		});
	}

	function showResultsCity(eltId, val, listId, divId, hiddenFieldId) {
		///////////////////////////
		//alert('show result debounce');
		//return;
		////////////////////
		res = document.getElementById(`${divId}`);
		res.innerHTML = '';

		if (val == '') {
			return;
		}
		let list = '';
		fetch('/Moqflight/getCitySuggestion?keyword=' + val).then(function (response) {
			return response.json();
		}).then(function (data) {
			//res.innerHTML = `<div class = "centered"><div class = "blob-1"></div><div class = "blob-2"></div></div>`;
			for (i = 1; i < data.length; i++) {
				if (typeof data[i].detailedName != 'undefined')
					list += '<tr> <td style="cursor: pointer; color: #3D71E9; font-weight: 600px; background-color: #f7f7f; border-width: 2px;"' + 'data-value=' + data[i].iataCode + '>' + data[i].detailedName + "--" +
						data[i].subType + '</td> </tr>';
			}
			//res.innerHTML = `<ul id=sourceFlightList>` + list + '</ul>';
			res.innerHTML = `<table class="table table-hover" style="width:100%; border-width: 3px;" id=${listId} >` + list + '</table>';
			// $("ul[id*=sourceFlightList] li").click(function () {
			$(`table[id*=${listId}] tr td`).click(function () {
				// document.getElementById("sourceFlightCode").value = "";
				document.getElementById(`${hiddenFieldId}`).value = "";
				document.getElementById(`${hiddenFieldId}`).value = $(this).data('value');
				//alert($(this).attr('data-value').val());
				document.getElementById(`${eltId}`).value = "";
				document.getElementById(`${eltId}`).value = $(this).text();
				$(`#${divId}`).empty();
				return;
			});
			$('.alert').show();
			return true;
		}).catch(function (err) {
			console.warn('Something went wrong.', err);
			alert('Something went wrong.', err);
			return false;
		});
	}

	const loadingDiv = document.getElementById('loading');

	function displayLoadingBar() {
		loadingDiv.style.display = 'block';
	}

	function hideLoadingBar() {
		loadingDiv.style.display = 'none';
	}
</script>
</body>

</html>